<div class="container py-2">
  <h1>
    Join the waiting list
  </h1>
  <p>
    of our awesome coworking
  </p>
  <div class="row">
    <div class="col-12 col-md-9 col-md-offset-3">
      <%= render 'form', registration: @registration %>
    </div>
  </div>
</div>
