<h1>
  Please confirm you're still interested to work at our Coworking
</h1>
<h3>
  current position in qeue: <%= @position %>
</h3>

<%= link_to 'Confirm my interest', requests_confirmations_url(token: @request.token)%>
